$font-family: 'PT Sans', sans-serif;
$font-weight: 400;
$font-size: 16px;

$yellow: #fcdb00;
$black: #010101;
$white: #fff;
$gray-blue: #313841;
$gray: #555555;
$light-gray: #898989;

$fs-20: 20px;
$fs-22: 22px;
$fs-30: 30px;
$fs-32: 32px;
$fs-42: 42px;